@use "../util" as *;
.container {
    padding: 0 rem(24);
    max-width: rem(1110);
    margin: 0 auto;
    @include breakpoint(large) {
        padding: 0;
        transform: translate(0, 0);
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    @media (min-width: 900px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
    &__main,
    &__sidebar {
        padding: 40px;
    }
    &__main {
        background-color: hsl(240, 100%, 25%);
    }
    &__sidebar {
        background-color: hsl(300, 100%, 29%);
    }
}